body {
  box-sizing: border-box;
  /* margin: -20px 0;
  overflow: hidden; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, .2);
  border-bottom: 3px solid white;
  
}

header > button {
  border-radius: 0;
  border: none;
  margin: 5px;
  background-color: white;
  color: black;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  left: 20px;
  bottom: -10px;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  color: white;
  margin-left: 15px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, .2);
  border-top: 3px solid white;
  
}

footer > a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 10px;
  position: relative;
  left: 20px;
  bottom: -10px;
}

.main-box {
  height: 100vh;
  background-image: url("revan.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-box {
  background-color: rgba(255, 255, 255, .2);
  padding: 20px;
  border: 3px solid white;
  border-radius: 3px;
  max-height: 70%;
  overflow: auto;
}

.task-button {
  display: flex;
  align-items: center;
}

.checked-box {
  height: 20px;
  width: 20px;
  border: 2px solid white;
  background-color: white;
}

.unchecked-box {
  height: 20px;
  width: 20px;
  border: 2px solid white;
}

.completed-task {
  text-decoration: line-through;
}

.hidden-task {
  display: none;
}

.modal {
  position: absolute;
  height: 500px;
  width: 500px;
  background-color: black;
  box-shadow: 2px 2px 20px rgb(244, 130, 225);
  border-radius: 5px;
}